version: '3.8'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - server
  server:
    build: ./server
    container_name: megamart_server
    ports:
      - "3001:3001"
    env_file:
      - ./server/.env
    restart: always
    networks:
      - megamart-network

networks:
  megamart-network:
    driver: bridge
