name: Deploy MegaMart API

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: 'Production Environments'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push API
        uses: docker/build-push-action@v5
        with:
          context: ./server
          push: true
          tags: minhancr123/megamart:server

      - name: Build & push Nginx
        uses: docker/build-push-action@v5
        with:
          context: ./nginx
          push: true
          tags: minhancr123/megamart:nginx

      - name: Deploy on VPS
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ~/megamart
            cd ~/megamart
            docker stop megamart_server megamart_nginx || true
            docker rm -f megamart_server megamart_nginx || true
            docker compose pull
            docker compose up -d
            docker image prune -f
